<!DOCTYPE html>

<% content_for :stylesheets do %>
<%= stylesheet_link_tag "pages/temp" %>
<% end %>

<head>
</head>

<body>
  <%# !START OF HEADER %>
  <div class="header">
    <div class="header-logo">
      <%= image_tag "usf-logo.png", alt: "USF Logo", class: "header-logo" %>
    </div>
    <div class="header-middle">
      <p class="header-text">
        Stampede
      </p>
    </div>
    <div class="header-right">
      <div class="header-profile">
        <a href="/messages/unified"> <%= image_tag "message-logo.png", alt: "Message Logo", class: "profile-click" %> </a>
      </div>
      <div class="header-profile">
        <a href="/profile"> <%= image_tag "default-profile.png", alt: "Profile Logo", class: "profile-click" %> </a>
      </div>
      <div class="header-logout">
        <%= button_to "Logout", logout_path, method: :delete, class: "logout-button" %>
      </div>
    </div>
  </div>
  <%# END OF HEADER! %>


  <h1 class="edit-listing">Edit Listing</h1>

  <div class="edit-container">
    <%= form_with(model: @listing, local: true) do |form| %>
      <div class="edit-labels">
        <%= form.label :title %>
        <%= form.text_field :title, style: "width: 97%" %>
      </div>

      <% if @listing.image.attached? %>
        <div class="image-wrapper">
            <%= image_tag @listing.image, alt: "Image of #{@listing.title}", class: "show-image" %>
        </div>
      <% else %>
          <p>No image uploaded.</p>
      <% end %>
      <br>

      <% if @listing.errors.any? %>
        <div class="error_messages">
          <ul>
            <% @listing.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="edit-labels">
        <%= form.label :image %>
        <%= form.file_field :image %>
      </div>

      <div class="edit-labels">
        <%= form.label :description %>
        <%= form.text_area :description, style: "width: 97%; min-height: 60px;"%>
      </div>

      <div class="edit-labels">
        <%= form.label :price %>
        <%= form.number_field :price, step: 0.01, style: "width: 97%" %>
      </div>

      <div class="edit-labels">
        <%= form.label :category %>
        <%= form.select :category, options_for_select(["Textbooks & Materials", "Electronics", "Furniture & Home Decor", "Clothing & Accessories", "Food & Kitchen", "Sports & Fitness Equipment", "Entertainment & Hobbies", "Roommates & Housing", "Transportation", "Events & Tickets", "Miscellaneous"], prompt: "Select a category"), { required: true } %> <!-- Added prompt -->
      </div>

      <div class="edit-labels">
        <%= form.label :location %>
        <%= form.select :location, options_for_select(["Tampa", "St. Petersburg", "Sarasota-Manatee"], prompt: "Select a campus"), { required: true } %> <!-- Added prompt -->
      </div>

      <div class="actions">
        <%= form.submit "Save", class: "btn btn-secondary update-btn", style: "width: 100%;" %>
        <%= link_to "Cancel", listings_path, class: "btn show-back-button" %>
      </div>


    <% end %>
  </div>

  <div>
    <hr style="visibility: hidden;">
  </div>

  </body>