<% if logged_in? %>
    <h1> Market </h1>

    <% @listings.each do |listing| %>
        <div class="listing">
            <h2><%= link_to listing.title, listing_path(listing) %></h2>
            <p><strong>Price:</strong> $<%= listing.price %></p>
            <p><strong>Category:</strong> <%= listing.category %></p>
            <p><strong>Location:</strong> <%= listing.location %></p>

            <% if listing.user == current_user %>
                <p>
                    <%= link_to "Edit", edit_listing_path(listing) %> |
                    <%= link_to "Delete", listing_path(listing), method: :delete, data: { confirm: "Are you sure?" } %>
                 </p>
            <% end %>
            <hr>
        </div>
    <% end %>
    
    <%= button_to "Logout", logout_path, method: :delete, class: "btn btn-danger" %>
<% else %>
  <p>Please log in to view the marketplace.</p>
<% end %>