<!DOCTYPE html>

<% content_for :stylesheets do %>
<%= stylesheet_link_tag "pages/temp" %>
<% end %>

<head>
</head>

<body>
  <%# !START OF HEADER %>
  <div class="header">
    <div class="header-logo">
      <%= image_tag "usf-logo.png", alt: "USF Logo", class: "header-logo" %>
    </div>
    <div class="header-middle">
      <p class="header-text">
        Stampede
      </p>
    </div>
    <div class="header-right">
      <div class="header-profile">
        <a href="/messages/unified"> <%= image_tag "message-logo.png", alt: "Message Logo", class: "profile-click" %> </a>
      </div>
      <div class="header-profile">
        <a href="/profile"> <%= image_tag "default-profile.png", alt: "Profile Logo", class: "profile-click" %> </a>
      </div>
      <div class="header-logout">
        <%= button_to "Logout", logout_path, method: :delete, class: "logout-button" %>
      </div>
    </div>
  </div>
  <%# END OF HEADER! %>
 
  <% if logged_in? %>
    

    <div class="market-header">
        <h1> Market </h1>
    </div>

    <div>
      <%= button_to "Sell My Stuff", new_listing_path, method: :get, class: "btn btn-primary show-message-button", style: "display: block; margin: 20px auto; width: 20%; border: 1px solid #054631;" %>
      <hr style="visibility: hidden;">
      <hr style="visibility: hidden;">
    </div>

    <div class="listings-all">
        <% @listings.each do |listing| %>
            <div class="listing">
                <%= link_to listing_path(listing) do %>
                    <h6 class="listing-title"><%= listing.title %></h6>
                    <% if listing.image.attached? %>
                      <div class="image-wrapper">
                        <%= image_tag listing.image, alt: "Image of #{listing.title}", class: "show-image" %>
                      </div>
                    <% else %>
                      <p>No image uploaded.</p>
                    <% end %>
                    <p class="listing-tag"><strong>Price:</strong> $<%= listing.price %></p>
                    <p class="listing-tag"><strong>Category:</strong> <%= listing.category %></p>
                    <p class="listing-tag"><strong>Location:</strong> <%= listing.location %></p>

                    <% if listing.user == current_user %>
                        <div class="listing-buttons">
                            <%= link_to "Edit", edit_listing_path(listing), class: "edit-button" %>
                            <%= link_to "Delete", listing_path(listing), method: :delete, data: { confirm: "Are you sure?" }, class: "delete-button" %>
                        </div>
                    <% end %>
                <% end %>
            </div>
        <% end %>
    </div>


<% else %>
  <p>Please log in to view the marketplace.</p>
<% end %>

</body>


