<h1>Post a listing</h1>

<%= form_for @listing do |form| %>
  <div class="field">
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :price %><br>
    <%= form.number_field :price, step: 0.01 %>
  </div>

  <div class="field">
    <%= form.label :campus %><br>
    <%= form.select :location, options_for_select(["Tampa", "St. Petersburg", "Sarasota-Manatee"]) %>
  </div>

  <div class="field">
    <%= form.label :category %><br>
    <%= form.select :category, options_for_select(["Textbooks & Materials", "Electronics", "Furniture & Home Decor", "Clothing & Accessories", "Food & Kitchen", "Sports & Fitness Equipment", "Entertainment & Hobbies", "Roommates & Housing", "Transportation", "Events & Tickets", "Miscellaneous"]) %>
  </div>

  <div class="actions">
    <%= form.submit "Post Listing" %>
  </div>
<% end %>
