<!DOCTYPE html>

<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "pages/login" %>
<% end %>

<head>
</head>

<body>
  <div class="main-header">
    <div class="main-header-logo">
      <%= image_tag "usf-logo.png", alt: "USF Logo", class: "main-header-logo" %>
    </div>
    <div class="main-header-middle">
      <p class="main-header-text">
        Stampede
      </p>
    </div>
  </div>
  <div class="login">
    <div class="login-container">
      <div class="login-text">
        Login
      </div>

      <% if flash[:notice] %>
        <div class="flash-message notice">
          <%= flash[:notice] %>
        </div>
      <% end %>
      <% if flash[:alert] %>
        <div class="flash-message alert">
          <%= flash[:alert] %>
        </div>
      <% end %>

      <%= form_with url: '/login', method: :post, local: true do |f| %>
        <div class="input-group">
          <p class="input-header">Username</p>
          <%= f.text_field :username, class: "login-input", placeholder: "Username", required: true %>
        </div>
        <div class="input-group">
          <p class="input-header">Password</p>
          <%= f.password_field :password, class: "login-input", placeholder: "Password", required: true %>
        </div>
        <%= f.submit "Sign In", class: "signin-button" %>
      <% end %>

      <%# <a class="link-text" href="/forgot-password">Forgot your password?</a> %>
      <p class="text-whitesmoke link-header">Do not have an account?</p>
      <a class="link-text" href="/signup">Sign Up</a>
      <p class="margin-t text-whitesmoke link-header"><small> Stampede &copy; 2025</small></p>
    </div>
  </div>
<body>